<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <add name="OracleConnectionString" connectionString="DATA SOURCE=localhost:1521/Knight;PASSWORD=Works;PERSIST SECURITY INFO=True;USER ID=&quot;C##WORKS&quot;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="SqlServerConnectionString" connectionString="Data Source=localhost;Initial Catalog=db_Works;Persist Security Info=True;User ID=Works;Password=Works" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
